@import "tailwindcss";

 @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px) scale(0.9);
      filter: blur(4px);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
      filter: blur(0px);
    }
  }

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.animate-fadeOut {
  animation: fadeOut 0.2s cubic-bezier(0.4, 0, 1, 1);
}
